<h1>Add New Recipe</h1>
<form action="<%= recipes_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="recipe_name">Recipe:</label>
	<input type="text" id="recipe_name" name="recipe[name]">
	<input type="submit" value="Add Recipe">
</form>
<h1>Recipes</h1>
<ul>
	<% @recipes.each do |recipe| %>
		<li><%= link_to recipe.name, recipe_url(recipe.id) %></li>
	<% end %>
</ul>